body {
    font-family: "Gill Sans Extrabold","cursive",sans-serif;
    /* font-family: "Goudy Bookletter 1911", sans-serif; */
    color: black;
}

div.container-fluid{
    
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
    align-items: stretch;
    justify-content: center;
}
article{
    flex-grow: 1;
    display: flex;
    margin: 10px;
    padding: 6px;
    width: 30%;
    border-radius: 15px;
    background-color: rgba(195, 195, 195, 0.246);
    flex-direction: column;

}
textarea.full-text {
    
    width: 100%;
    overflow-y: visible;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    
}
div.full-text{
    padding: 1%;
    width: 100%;
}
p {
    text-overflow: ellipsis; 
}
/* p for mozaic recipe, abstract hiden */
p.hide-text {
    overflow: hidden;
    white-space: nowrap;
}
/* BUTTONS */
a {
    text-decoration: none;  
}
a:hover{
text-decoration: none;
}
a.round{
    font-size: 2em;
    display: inline-block;
    padding: 0 0.6em 0.2em 0.6em;
    border: solid 3px black;
    border-radius: 25%;
}
a.round:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
  }
div.fullButtonRecipe{
    display: flex;
    justify-content: space-between;
}
div.navigationButton{
    padding: 1%;
    display: flex;
    justify-content: space-between;
}